legend{
  text-align: center;
}
img{
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 6px;
  width: 100px;
}
.SearchID{
  text-align: center;
}
.SearchName{
  text-align: center;
}
.Manager-ID{
  text-align: center;
}
